html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.company-card {
  background-color: #65cf50;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.company-card:hover {
  background-color: #88d578;
}

.deal-card {
  background-color: #50b2cf;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.landing-page-button{
  background-color: #fff;
  border: 1px solid #010101;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.landing-page-button:hover{
  background-color: #010101;
  color: #fff;
}

.text-center{
  text-align: center;
}

.homeBtn{
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.homeBtn:hover{
  text-decoration: underline
}

.navbar{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
}

.search-container{
  margin: 10px;
}