html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.company-card {
  background-color: #65cf50;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.deal-card {
  background-color: #50b2cf;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.landing-page-button{
  background-color: #fff;
  border: 1px solid #010101;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.landing-page-button:hover{
  background-color: #010101;
  color: #fff;
}